.list-item {
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 4px;
  h1 {
    margin-bottom: 1rem;
    width: 100%;
  }

  p {
    margin-bottom: 1rem;
    width: 100%;
  }
}